<div class="sixteen columns page clearfix">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>
  <div>
    <div class="contactus">
      <h2 class="faqh2">Contact</h2>

      <div class="phone">
        <div>
          <span class="faqheader">Customer Service</span><br>
          <a href="tel:877-958-9626" id="number_link">877-958-9626</a>
        </div>
        <div>
          <span class="faqheader">Wholesale Inquiries</span><br>
          <a href="tel:469-759-0302">469-759-0302</a>
        </div>
      </div>

      <div class="phone">
        <span class="faqheader">Address</span><br>
        <a>1444 Oak Lawn Ave, #119, Dallas, TX 75207</a>
      </div>

      <div class="emails">
        <div class="one-quarter column">
          <span class="faqheader">General/Customer Service </span><br>
          <span class="email"><a href-"mailto:info@mizzenandmain.com">info@mizzenandmain.com</a></span>
        </div>
        <div class="one-quarter column">
          <span class="faqheader">Wholesale Inquiries</span><br>
          <span class="email"><a href-"mailto:wholesale@mizzenandmain.com">wholesale@mizzenandmain.com</a></span>
        </div>
        <div class="one-quarter column">
          <span class="faqheader">Marketing/PR Inquiries </span><br>
          <span class="email"><a href-"mailto:marketing@mizzenandmain.com">marketing@mizzenandmain.com</a></span>
        </div>
        <div class="one-quarter column">
          <span class="faqheader">Jobs </span><br>
          <span class="email"><a href-"mailto:team@mizzenandmain.com">team@mizzenandmain.com</a></span>
        </div>
      </div>
    </div>  {% comment %}End Contact Us Div{% endcomment %}
    <div class="faq">
      <h2 class="faqh2">FAQ</h2>
      <div class="one-third column faq">
        <span class="faqheader-left">General</span><br>
        <div class="question">
          <a href="javascript:ReverseDisplay('general1')">How do I pick my size?</a>
          <div id="general1" style="display:none;">
            <p><strong>Here is our size chart: </strong>
              <ul>
                <li>  Small* Neck 15-15.5” | Sleeve 32.5-33” | 5’8” | 150 lbs </li>
                <li>  Medium* Neck 16-16.5” | Sleeve 33.5-34” | 5’10” | 180 lbs </li>
                <li>  Large* Neck 16.5-17” | Sleeve 34.5-35” | 6’0 | 200 lbs </li>
                <li>  X-Large Neck 17-17.5” | Sleeve 35.5-36” | 6’4” | 215 lbs (bigger cut in chest and arms) </li>
                <li>  XX-Large Neck 18-18.5” | Sleeve 36-37” | 6’6” | 250+ lbs </li>
              </ul>

            </p>
            <p> *Tall sizing available: Additional 3” in sleeve and shirt length   </p>
                        {% comment %}                     <ul>
                            <li>  5'8" 150 pounds: Small </li>
                            <li>    5'10" 180 pounds: Medium </li>
                            <li>    6'0" 200 pounds: Large </li>
                            <li>  6'4" 215 pounds: X-Large </li>
                            <li>  6'6" 250+ pounds: XX-Large </li>
                          </ul>{% endcomment %}
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('general2')">What does “Trim Fit” mean?</a>
          <div id="general2" style="display:none;">
            <p>Trim Fit means a more tapered fit in on the torso with room in the chest and arms. They are <em>not</em> hipster skinny or a 90’s box cut. </p>
          </div> <!-- .question -->
        </div> {% comment %} End Question Div {% endcomment %}
      {% comment %}
      <div class="question">
          <a href="javascript:ReverseDisplay('general2')">I'm still not sure on my size...</a>
          <div id="general2" style="display:none;">
              Please take our
              <div id="buttonPlacement"></div>
              questionnaire. In 20 seconds with a few simple questions, you'll have your perfect fit.

          </div>
        </div> {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('general3')">Do all your shirts fit the same?</a>
          <div id="general3" style="display:none;">
            <p>We normally recommend sizing up in the Henley and Polo since these fabrics are a little more snug. If you like your Henleys and Polos to fit tighter, go with the same size you wear in our dress shirts.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('general4')">What if I am in between sizes?</a>
          <div id="general4" style="display:none;">
            <p>Size up!
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('general5')">What is the difference between Spinnaker and Leeward dress shirts?</a>
          <div id="general5" style="display:none;">
            <p>The Leeward Collection has a more traditional look and feel while crafted from incredibly lightweight fabric with superior quick dry properties.
            </p>
            <p>The Spinnaker Collection is our original advanced performance line made from our highest stretch fabric that bears unique wrinkle resistant qualities.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('general6')">What if I want to try on a shirt before my purchase?</a>
          <div id="general6" style="display:none;">
            Please visit our office in Dallas: <br>
            1444 Oak Lawn Ave, #119, Dallas, TX 75207<br>
            <p>Or view our retailers <a href="http://www.mizzenandmain.com/apps/store-locator/">here</a>. </p>
            <p>We also are happy to exchange your shirt for another size if you make your purchase on our site!
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('general7')">What are your shipping policies?</a>
          <div id="general7" style="display:none;">
            <p><strong>Domestic</strong>: Every order over $100 ships ground free! Orders over $275 go 2day on us (we will automatically upgrade your shipping in our system, please select the $0 option at checkout)! </p>
            <p><strong>International</strong>: We ship everywhere! <em>*Excluding China*</em> You will be charged a $50 flat international shipping rate. Please be aware that any duties or taxes your country of residence charges are the responsibility of the purchaser/consumer.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
      </div>  {% comment %} End 1/3 Column Div {% endcomment %}
      <div class="one-third column faq">
        <span class="faqheader-left">Return/Exchanges </span><br>
        {% comment %}<div class="question">
          <a href="javascript:ReverseDisplay('return1')">What is your return and exchange policy?</a>
          <div id="return1" style="display:none;">
            <p>We offer free DOMESTIC returns and exchanges, just email us at <a href="mailto:info@mizzenandmain.com">info@mizzenandmain.com</a>! If you’d like to exchange your item, we will send you a return label for your returning item and mail out your exchange immediately! If you’d like to return your item, we will email you a return label. As soon as we receive it, we will then process a credit to your original payment method. </p>
            <p> <span style="color:red">*Return & Exchange Requirements: item was purchased within 30 days and item is in its original condition. Items that do not meet these requirements are not eligible.* </span>
            </p>
            <p> *Shipping is complimentary on all initial returns and exchanges. Shipping on subsequent returns and exchanges on the same  order will be the responsibility of the customer.*</p>
            <p> *We do not offer international returns or exchanges at this time*
            </p>
          </div> 
        </div>End Question Div {%endcomment%}
        <div class="question">
          <a href="javascript:ReverseDisplay('return1')">What is your return policy?</a>
          <div id="return1" style="display:none;">
            <p>We offer free domestic returns and exchanges; just use the prepaid FedEx return labels in your original packaging and drop-off your package at your local FedEx. You have 30 days to receive a full refund to your original form of payment. Items that are beyond the 30-day policy have up to 90 days to receive store credit. Please note all items must be unwashed and unworn in order to receive credit in any form. Items that do not meet these requirements are not eligible. 
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('return2')">How do I make an exchange?</a>
          <div id="return2" style="display:none;">
            <p>Exchanging an item is as simple as our return policy, just use the prepaid FedEx return label in your original packaging and drop-off your package at your local FedEx. Then, email us at <a href="mailto:info@mizzenandmain.com">info@mizzenandmain.com</a> with your Order Number and what in-stock item (size and style) you would like to exchange for. We will process your exchange upon request. You have 90 days to process an exchange for a new item, or receive store credit. Please note all items must be unwashed and unworn in order to receive credit in any form. Items that do not meet these requirements are not eligible. 
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('return3')">How long do exchanges and returns typically take?</a>
          <div id="return3" style="display:none;">
            <p>We will send your exchange immediately upon request. A credit for a return will take 7-10 business days from the time we receive your returned item.
            </p>
          </div>
        </div>
        <div class="question">
          <a href="javascript:ReverseDisplay('return4')">When will I get my refund?</a>
          <div id="return4" style="display:none;">
            <p>We will process your refund approximately 10-14 days after arrival of the shipment and send you an email confirmation once complete.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('return5')">Why does a refund take so long?</a>
          <div id="return5" style="display:none;">
            <p>Your return can take up to 5-7 business days to arrive at our warehouse, 3-5 days to be processed, and 3-5 business days before this reflects in your bank account or credit card statement.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('return6')">How do I return a gift?</a>
          <div id="return6" style="display:none;">
            <p>Simple! Send us an email at <a href="mailto:info@mizzenandmain.com">info@mizzenandmain.com</a> with the original purchaser, Order Number, and request to return or exchange. If it is an exchange please follow instructions on ‘How do I make an exchange?’, otherwise, please follow instructions on “What is your return policy?”. Any other questions please include in email.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('return7')">What if my items are received damaged or defective?</a>
          <div id="return7" style="display:none;">
            <p>Shoot us an email at <a href="mailto:info@mizzenandmain.com">info@mizzenandmain.com</a>, we will make it right!
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('return8')">What is your International Return Policy?</a>
          <div id="return8" style="display:none;">
            <p>We do not offer complimentary International returns at this time. If you would like to make an exchange or return please see return policy or how to make an exchange above. If return/exchange meet about requirements, please email <a href="mailto:info@mizzenandmain.com">info@mizzenandmain.com</a> to receive further instruction.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
      {% comment %}       <div class="question">
          <a href="javascript:ReverseDisplay('return5')">
          What are your shipping policies?
          </a>
          <div id="return5" style="display:none;">
              <p>Within the domestic United States, any purchase that includes a Mizzen+Main dress shirt over $100 comes with free ground shipping. Additionally, within the domestic United States, orders over $275 come with free 2nd Day Air shipping. Some items, such as furniture or other pieces, will have different shipping policies.  International shipping rates vary. Please contact us if you have any questions.
              </p>
          </div>
      </div>
      <div class="question">
          <a href="javascript:ReverseDisplay('return6')">
          Do you ship internationally?
          </a>
          <div id="return6" style="display:none;">
              <p>Yes, of course! <em>*We do not ship to China*</em> </p>
              <p> We charge a flat fee of $50 via DHL for international shipments. This is less than our shipping cost. </p>
              <p>Please be aware that any duties or taxes your country of residence charges are the responsibility of the purchaser/consumer.</p>
              <p>Unfortunately, we are not able to cover return shipping costs for international purchases, but we are confident you will love your product! Please let us know if you have any other questions or concerns. </p>
          </div>
        </div> {% endcomment %}
      </div> {% comment %} End 1/3 Column Div {% endcomment %}
      <div class="one-third column faq">
        <span class="faqheader-left">Misc/Other </span><br>
        <div class="question">
          <a href="javascript:ReverseDisplay('misc1')">I’d love to work with Mizzen+Main! Who can I contact?</a>
          <div id="misc1" style="display:none;">
            <p>Check out our <a href="http://www.mizzenandmain.com/pages/a-growing-company">Jobs</a> page! Don’t see your dream job? Shoot us an email to <a href="mailto:team@mizzenandmain.com">team@mizzenandmain.com</a>.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('misc2')">How do your gift cards work?</a>
          <div id="misc2" style="display:none;">
            <p> We offer <a href="http://www.mizzenandmain.com/collections/the-shirt/products/gift-card">electronic gift cards</a> on our site. Gift cards are delivered by email and contain instructions to redeem them at checkout. Our gift cards have no additional processing fees. If you’d like a physical gift card, please email us at <a href="mailto:info@mizzenandmain.com">info@mizzenandmain.com</a>.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('misc3')">How do I get a discount code?</a>
          <div id="misc3" style="display:none;">
            <p> We do not offer discounts or put our products on sale, ever. You can read an article on why from our CEO, <a href="https://medium.com/@kevinslavelle/why-we-dont-discount-299a08c7a68e#.k58jx3la9" target="_blank">here</a>! We do offer referral credits and package deals!
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('misc4')">Can I use more than one discount code?</a>
          <div id="misc4" style="display:none;">
            <p> Unfortunately, we can only accept one code at checkout.
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('misc5')">What is your referral program?</a>
          <div id="misc5" style="display:none;">
            <p> When you make a purchase with us, you will be directed to a thank you screen with a unique URL! Send that URL to your friends. Anytime someone makes their first purchase with that URL, you will receive a $50 credit!
            </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
        <div class="question">
          <a href="javascript:ReverseDisplay('misc6')">Where can I find Mizzen+Main in a store?</a>
          <div id="misc6" style="display:none;">
            Please visit our office in Dallas: <br>
            1444 Oak Lawn Ave, #119, Dallas, TX 75207 <br>
            <p>Or view our retailers <a href="http://www.mizzenandmain.com/apps/store-locator/">here</a>. </p>
          </div> {% comment %} End Answer Div {% endcomment %}
        </div> {% comment %} End Question Div {% endcomment %}
      </div> {% comment %} End 1/3 Column Div {% endcomment %}
    </div> {% comment %} End FAQ div {% endcomment %}
<script type="text/javascript" language="JavaScript"><!--
  function HideContent(d) {
    document.getElementById(d).style.display = "none";
  }
  function ShowContent(d) {
    document.getElementById(d).style.display = "block";
  }
  function ReverseDisplay(d) {
    if (document.getElementById(d).style.display == "none") {
      document.getElementById(d).style.display = "block";
    } else {
      document.getElementById(d).style.display = "none"; }
    }
//-->
</script>
  </div>
</div>

<script>
//       try { var ch212 = ch212 || []; ch212['token'] = '4de414786ff340dca503409fd560b3ba'; ch212['ts'] = new Date().getTime(); (function () { var ch = document.createElement('script'); ch.type = 'text/javascript'; ch.async = true; ch.src = '//script.clotheshor.se/widget/script?token=' + ch212['token'] + '&ts=' + ch212['ts']; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ch, s); })(); } catch (ex) { console.log(ex)}
//
</script>

<script type="text/javascript">
  var callback = function(formatted_number, mobile_number) {
    // formatted_number: number to display, in the same format as
    //        the number passed to _googWcmGet().
    //        (in this case, '1-800-123-4567')
    // mobile_number: number formatted for use in a clickable link
    //        with tel:-URI (in this case, '+18001234567')
    var e = document.getElementById("number_link");
    console.log(e);
    e.href = "tel:" + mobile_number;
    e.innerHTML = "";
    e.appendChild(document.createTextNode(formatted_number));
  };
    _googWcmGet(callback, '877-958-9626');
</script>