<div class="timeline">

  <h1>
    <span class="white">Past</span>
    Collaborations Page
  </h1>


  <ul>
    {% include 'past-collaboration-item',
      collaboration_title: 'Action Jackson'
      logo_img: 'collabs_logo_action-jackson.png',
      product_img: 'collabs_product_action-jackson.png',
      collaboration_year: '2012',
      collaboration_month: 'Nov' %}
    {% include 'past-collaboration-item',
      collaboration_title: 'F Cancer'
      logo_img: 'collabs_logo_f-cancer.png',
      product_img: 'collabs_product_action-jackson.png',
      collaboration_year: '2012',
      collaboration_month: 'Nov' %}
  </ul>

</div><!-- .timeline -->